<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Anak Kos
    </div>
    <div class="card-body">
      <div class="card-body">
        <table class="table table-bordered table-striped">
          <thead class="">
            <tr>
              <th>ID</th>
              <th>Nama</th>
              <th>Asal</th>
              <th>No. HP</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Irfan</td>
              <td>Malang</td>
              <td>0283819301823</td>
            </tr>
            <tr>
              <td>1</td>
              <td>Irfan</td>
              <td>Malang</td>
              <td>0283819301823</td>
            </tr>
            <tr>
              <td>1</td>
              <td>Irfan</td>
              <td>Malang</td>
              <td>0283819301823</td>
            </tr>
            <tr>
              <td>1</td>
              <td>Irfan</td>
              <td>Malang</td>
              <td>0283819301823</td>
            </tr>
            <tr>
              <td>1</td>
              <td>Irfan</td>
              <td>Malang</td>
              <td>0283819301823</td>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-success float-right" routerLink="add">Tambah Data</button>
      </div>
    </div>
  </div>
</div>