<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Anak Kos
    </div>
    <div class="card-body">
      <div class="card-body">
        <table class="table table-bordered table-striped">
          <thead class="">
            <tr>
              <th>ID</th>
              <th>Nama</th>
              <th>Asal</th>
              <th>No. HP</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of anakKos | paginate: { itemsPerPage: 10, currentPage: currentPage }">
              <td> {{data.id}} </td>
              <td> {{data.nama}} </td>
              <td> {{data.asal}} </td>
              <td> {{data.nohp}} </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
        <button class="btn btn-success float-right" routerLink="add">Tambah Data</button>
      </div>
    </div>
  </div>
</div>