<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Detail Anak Kos
    </div>
    <div class="card-body">
      <table class="table table-striped table-bordered">
        <tbody>
          <tr>
            <td>Nama</td>
            <td>{{anakKos.nama}}</td>
          </tr>
          <tr>
            <td>Asal</td>
            <td>{{anakKos.asal}}</td>
          </tr>
          <tr>
            <td>No. HP</td>
            <td>{{anakKos.nohp}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>